# Server Configuration
PORT=5000

# Database Configuration
MONGO_URI=mongodb+srv://wayalbhushan7144_db_user:87jJ6HZkOU4rrZ7e@lmscluster.6pogrzf.mongodb.net/?appName=LMSCluster

# Security Configuration
JWT_SECRET=fallback_jwt_secret_key_123
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=dvxkss7s3
CLOUDINARY_API_KEY=729456831569126
CLOUDINARY_API_SECRET=FjoE7pV8OVw_Tf2xh0nf_vAymXw